*{
    margin: 0;
    padding:0;
    border:none;
}

/* Header logo nav*/

header{
    height:150px;
    width:100%;
    background-color: rgba(250, 250, 250, 0.6);
}
#logo-head #menu{
    line-height: 75px;
}
#logo-head{
    float:left;
    font-size: 180%;
    display: flex;
}
#menu{
    font-size: 160%;
    margin-right: 10px;
    float:right;
    padding: 10px;
    word-spacing: 4px;
}
#menu li{
    list-style: none;
    display: inline-flex;
    margin: 2px;
    padding-right: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.current{
    border-bottom: 1px solid #3a3a3a;
}

/*cover image section styling*/

#image-section{
    height: 600px;
    width: 100%;
    position:relative;
}

#cover-image{
    height: 600px;
    width: 100%;
    background-image: url('../images/cover-image-cave-with-view-and-man-pexels-m-venter-1659437.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
#welcome{
    font-size: large;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 70%;
    height: 80px;

    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 0;

    float: right;

    background-color: rgba(107, 210, 241, 0.7);

    bottom: 30px;
    right: 50px;

    position: absolute;
}


/* footer stuff */

footer{
    height: 130px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}